body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* Barra superior */
.topbar {
  background: #7aa8ff;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right button {
  background: #3670dd;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.right button:hover {
  background: #4d8bff;
}

/* Contenido */
.content {
  padding: 30px;
}